@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;600&display=swap');

body, html {
    pad: 0;
    margin: 0;
}
.title{
    font-family: 'Teko', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    line-height: 100%;
    font-size: 18rem;
    font-weight: 400;
    transform: translateY(17%);
    cursor: default;
    color: white;
    display: flex;
    align-items: center ;
    height: 85vh;
    width: 100vw;
}